<div>
<p-autoComplete styleClass="w-100" placeholder="Enter a source"  [(ngModel)]="selectedCountryforsource"  [suggestions]="filteredCountries1"  (completeMethod)="filterCountry($event)"
  field="name"  [minLength]="1" [inputStyle]="{'width':'100%'}"></p-autoComplete>
  <!-- <i class="fa-regular fa-arrow-up-arrow-down fa-rotate-90 fa-2xl"></i> -->
  <i class="fa fa-arrows-h" aria-hidden="true" (click)="selectedCountrychage()"></i>
  <!-- <i class="fa-solid fa-right-left"></i> -->
<p-autoComplete placeholder="Enter a destination" [(ngModel)]="selectedCountryfordestination"  [suggestions]="filteredCountries2"  (completeMethod)="filterCountry($event)"
  field="name"  [minLength]="1" [inputStyle]="{'width':'100%'}"></p-autoComplete>
  <p-calendar placeholder="Select a date" [(ngModel)]="date9" [showButtonBar]="showButtonBar" inputId="buttonbar"></p-calendar>
</div>